<!-- <app-inter></app-inter>
<br />
<hr />
<app-property></app-property>
<br />
<hr />
<app-class></app-class>
<br />
<hr />
<app-style></app-style>
<hr />
<br />
<app-property></app-property>
<hr />
<br />
<app-event></app-event>
<hr />
<br />
<hr />
<br />
<app-ng-if></app-ng-if>
<hr>
<br>
<app-ng-switch></app-ng-switch>
<hr>
<br>
<app-ng-for></app-ng-for>
<hr>
<br>
<app-pipe></app-pipe>
<hr>
<br>
<app-two-way></app-two-way>
<hr>
<br>
<app-parent></app-parent>
<hr>
<br> -->

<!-- <app-employee-list></app-employee-list>
<hr>
<br>
<app-employee-details></app-employee-details>
<hr>
<br> -->
<!-- <app-department></app-department> -->

<!-- <nav>
    <a routerLink="/empployee" routerLinkActive="active">empployee</a>
    &nbsp;
    <a routerLink="/department" routerLinkActive="lol">department</a>
    &nbsp;
    <a routerLink="">home</a>
    &nbsp;
    <a routerLink="/auth/login" routerLinkActive="lol">login</a>
    &nbsp;
    <a routerLink="/auth/register" routerLinkActive="lol">register</a>
</nav> -->

<!-- <router-outlet></router-outlet> -->

<app-template></app-template>