<p>pipe works!</p>


{{fullName|lowercase}}
<br>
{{fullName|uppercase}}
<br>
{{fullName|titlecase}}
<br>
{{fullName|slice:4}}
<br>
{{fullName|slice:3:5}}
<br>

<!-- string -->

{{2.678|number:'1.2-3'}}
<br>
{{2.678|number:'1.1-2'}}
<br>
{{2.678|number:'2.1-2'}}
<br>

<!-- number -->
{{.25|percent}}
<br>
{{100|currency}}
<br>
{{100|currency:'EUR'}}
<br>

<!-- day -->
{{todayDay}}
<hr>
<br>
{{todayDay|date:'short'}}
<br>
{{todayDay|date:'shortDate'}}
<br>
{{todayDay|date:'shortTime'}}
<br>
<hr>
{{todayDay|date:'medium'}}
<br>
{{todayDay|date:'mediumDate'}}
<br>
{{todayDay|date:'mediumTime'}}

<!--  -->
<br>
<hr>
4
<br>
square pipe >> to create ng g pipe >>nameOfFunction
<br>
{{4|square}}